images/
.DS_Store
.ipynb_checkpoints
data
output
debug
*.pyc
deep-head-pose
EvalImages
cache*
*.pkl
gif
archive
*.ply
eval
out

# evaluation:
temp/
shapes/
imgs/
vids/
*.mp4

stylegan3/results
eg3d/results
eg3d/ckpts
eg3d_results
eg3d/NADA_ckpts/
eg3d/CLIPStyle/mapper_results/
eg3d/CLIPStyle/test_faces.pt
eg3d/CLIPStyle/train_faces.pt
eg3d/CLIPStyle/train_faces_sub.pt
eg3d/CLIPStyle/train_faces_sub_2.pt
eg3d/CLIPStyle/test_faces_sub.pt
eg3d/pretrained_models/
results/
dataset_preprocessing/ffhq/Deep3DFaceRecon_pytorch
*out
*png
*sh
